<!doctype html>
<html>
    <head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
	<meta property="og:type" content="blog">
	<meta property="og:url" content="{{ page.url | replace:'index.html' }}">
	<!-- meta property="og:image" content="" -->

	<link rel="manifest" href="site.webmanifest">
	<!-- link rel="apple-touch-icon" href="/icon.png" -->
	<meta name="theme-color" content="#f5f5f5">

	<link rel="stylesheet" href="/css/marxed.css">
    </head>
    <body>
	<main>
	    <header class="nav">
		{% if page.title == 'Home' %}
		<h1>{{ site.description }}</h1>
		{% endif %}
		<nav>
		    <ul>
			<li><a href="{{ "/" | prepend: site.baseurl }}">blog</a></li>
			<li><a href="/emacs/">emacs</a></li>
			<li><a href="{{ '/feed.xml' }}">rss</a></li>
		    </ul>
		</nav>
	    </header>
	    {{ content }}
	    <footer>
		<p>&copy; {{ site.author | downcase }} 2016&ndash;{{ 'now' | date: '%Y' }}.</p>
		<p>follow: {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}">twitter</a><span class="u-separate"></span>{% endif %}{% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">github</a>{% endif %}.</p>
	    </footer>
	</main>
    </body>
</html>
